body{
    padding: 0px;
}

.demo_wrap {
    position: relative;
    overflow: hidden;
    padding: 16px;
}
.demo_wrap h1 {
    padding: 10px;
    position: relative;
    z-index: 2;
}
.demo_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

footer{
    display: block;
    width: 100%;
    bottom: 0vh;
    left: 0;
    background-color: #ffa6007a;
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
}
        